@import '~base-coachy-styles/template2/colors.scss';
@import '~base-coachy-styles/template2/mixins.scss';
@import '~base-coachy-styles/template2/variables.scss';

.player-selection-wrapper{
	.player {
		max-width: 220px;
		height: auto;
		img.rounded-circle {
		    border-radius: 50% !important;
		    border: 1px solid $blue-grey-100;
		    box-shadow: 0px 3px 24px $blue-grey-100;
		}

	}
}