@import '../../../../sass/template2/colors.scss';
@import '../../../../sass/template2/mixins.scss';
@import '../../../../sass/template2/variables.scss';

.lineup-wrapper {
	.menu {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		margin-bottom: 20px !important;
		justify-content: flex-end;
	}
	.player-formation-panel {
		background: #FFF;
		padding: 25px 15px;
		margin-bottom: 12px;
		min-height: calc(#{"100vh - 200px"});
		overflow-y: auto;
	}
	padding: 0 !important;
	
	.settings-bar {
		.btn {
			margin-right: 5px;
		}
	}
	input.form-control {
		margin-left: 5px;
	}
}

.field-background {
	background-size: 100% 100%; 
	width: 100%; 
	position: relative;
	height: auto;
}

.formation-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.field-container {
	position: relative;
} 
.field-builder {
	justify-content: center;
	h4 {
		margin-bottom: 30px;
	}
}
.lineup-builder-field {
	display: flex;
	justify-content: center;
	width: 100%;
}
.formation-container {
	margin-top: 40px;
}
.lineup-position-input-group {
	display: flex;
	margin-bottom: 5px;
	select {
		width: calc(#{"100% - 30px"});
	}
}
.spot-lines-container {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/*display: flex;*/
	height: 100%;
	.field-area {
		position: relative;
		width: 100%;
		top: inherit !important;
		&.hide {
			background: none !important;
		}
		.ui-resizable-handle {
			display: none !important;
		}
		&:hover{
			.ui-resizable-handle {
				display: block !important;
			}	
		}
	}
	
}
.formation-spot {
	width: 7%;
	height: auto;
	position: absolute;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	z-index: 999;
	.inner-circle {
		width: 45px;
	    height: 45px;
	    border-radius: 50%;
	    border: 2px solid #3dc37c;
	    display: flex;
	    align-items: center;
	    padding: 10px;
	    justify-content: center;
	    background: white;
	    margin-bottom: 5px;
		img {
			width: 50%;
			height: auto;
		}
	}
	.position-name {
		position: absolute;
		bottom: -26px;
		width: 200px;
		text-align: center;
	}
}
.lineup-bench {
	background-color: $white;
	height: auto;
	padding: 8px;
}

.lineup-bench-container {
	display: flex;
	display: flex;
    flex-flow: row wrap;
	.player-on-bench {
		flex-basis: 150px;
		margin: 5px;
	}
}
.lineup-builder-options {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    .lineup-option {
    	display: inline-block;
    	margin-right: 5px;
    	.select2-container {
		    flex-basis: 300px!important;
    		flex-grow: 1;
    	}
    }
}

.player-spot {
	position: relative;
	cursor: pointer;
	/* width: 110px;
	height: 71px; */
    width: 100%;
    height: 100%;
}
.lineup-player-empty-spot {
	background: transparent;
	border: dashed 2px #3cc27c;
	display: flex;
	color: $white;
	font-weight: bold;
	font-weight: bolder;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	background-color: rgba(61, 195, 124, 0.45);
	.lineup-player-spot-body {
		align-items: center;
		display: flex;
		justify-content: center;
		p {
			margin: 0;
			font-weight: 400;
		}
	}
}
.lineup-player-placed-spot {
	background: transparent;
	border: dashed 1px white;
	display: flex;
	flex-flow: column;
	.profile-picture-wrapper {
		width: 30px;
		height: 30px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.player-name {
		color: $white;
		font-weight: bolder;
		text-align: center;
		background: $green;
		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    font-size: 13px;
	}
}
.lineup-player-placed-spot-head {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0px;
	.more-info {
		flex-grow: 1;
		text-align: center;
		display: flex;
		justify-content: space-evenly;
		justify-items: center;
		align-items: center;
		.shirt-number {
			font-size: 20px;
			color: $white;
			font-weight: 900;
		}
	}
}
.spot-choose-player {
	position: absolute;
	bottom: -40px;
}
.lineup-player-spot-body {
	flex-grow: 1;
	width: 100%;
}
.player-on-bench {
	justify-content: center;
	cursor: move;
	border: dashed 1px $green-dark;
	border-bottom: 0;
	z-index: 999;
	background-color: $white;
	transition: width 0.2s ease-in-out;
	.player-info {
		text-align: center;
		height: auto;
		img {
			max-width: 50%;
		}
		.player-name {
			background: $green;
    		color: $white;
			margin: 0px;
		}
	}
}

.lines-config {
	position: relative;
}
.lines-config-panel {
	position: absolute;
	background-color: $white;
	z-index: 999;
	width: 150px;
	right: 0px;
	display: flex;
	flex-flow: column;
}
.position-area-name {
	/* background: #3dc37c; */
	padding: 4px 10px;
	font-size: 12px;
	font-weight: bold;
	color: $white;
}
.player-in-lineup-view {
	position: absolute;
	width: 100px;
	text-align: center;
    
	img {
		width: 50%;
		height: auto;
	}
	.name {
		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
		background: #3dc37c;
		font-size: 12px;
		font-weight: bold;
		color: $white;
	}
}
.area-config {
	display: flex;
	.area-options {
		display: flex;
		height: 40px;
		.area-player-amount {
			width: 100px;
		}
	}
}


.indicators-container {
	width: 100%;
    display: flex;
    position: absolute;
    top: -19px;
    justify-content: flex-end;
}


// Extra Small devices 
@media (max-width: 544px) {  
	.field-background {
		min-height: 230px;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	.field-background {
		min-height: 350px;
	}

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	.field-background {
		min-height: 350px;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.field-background {
		min-height: 350px;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
	
}